* {
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: black;
}

.bg {
    background: url(assets/bg.jpg) no-repeat;
    filter: blur(100px);
    height: 200vh;
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: -1;

    & div {
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to bottom, rgb(255, 255, 255, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7), rgb(0, 0, 0));
    }
}

.content {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 20px 50px;
}

.topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 50px;
}

.blogo {
    display: block;
}

.slogo {
    display: none;
}

nav {
    display: flex;
    font-weight: bold;
    align-items: center;

    & * {
        margin: 0px 20px 0px 0px;
        border-radius: 50px;
        padding: 10px 20px;
        min-width: fit-content;
    }

    a {
        background-color: white;
        color: black;
    }
}

select {
    appearance: none;
    padding: 10px 20px;
        border-radius: 50px;
        background: transparent;
    border: 2px solid rgb(87, 87, 87);
}

.showcase {
    width: 100%;
    margin: 20px auto;
    height: 40vw;
    background: url(assets/bg.jpg) repeat-x;
    background-size: cover;
    mask-image: url(assets/mask.svg);
    mask-size: 100% 100%;
    animation: ani 60s linear infinite;
    animation-play-state: paused;
    position: relative;
}

.grd {
    height: 100%;
    width: 100%;
    position: fixed;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.63), rgb(0, 0, 0));
}

.adtxt {
    width: 40%;
    text-align: center;
    margin: auto;
    position: relative;
    top: 50%;
    z-index: 10;

    .bigtext {
        font-size: clamp(12px, 4vw, 56px);
        font-weight: 900;
    }

    .smalltext {
        font-weight: 500;
        font-size: clamp(12px, 3vw, 18px);
        color: rgb(143, 143, 143);
    }
}

#anibtn {
    width: 40px;
    height: 40px;
    border: none;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 2%;
    bottom: 5%;
    padding: 0px;
    z-index: 10;

    &:hover {
        background-color: rgba(128, 128, 128, 0.3);
    }
}

.mail {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px auto;

    * {
        margin: 5px;
        font-size: 24px;
    }

    input {
        background-color: transparent;
        border: 1px solid grey;
        width: 400px;
        font-size: 18px;
        padding: 10px 20px;
        border-radius: 1000px;
        font-weight: 400;

        &:focus {
            outline: 2px solid white;
        }
    }


}

button {
    background-color: red;
    border: none;
    font-weight: bold;
    border-radius: 1000px;
    padding: 10px 30px;
    min-width: fit-content;

    &:hover {
        cursor: pointer;
        background-color: rgb(185, 0, 0);
    }
}

.slider {
    display: flex;
    overflow-x: scroll;

    &::-webkit-scrollbar {
        display: none;
    }

    & img {
        margin: 5px;
        border-radius: 1vw;
        border: 2px solid transparent;
        height: max(20vw, 35vh);

        &:hover {
            outline: 2px solid white;
        }
    }
}

.trending,
.netflix,
.w80p {
    margin: 20px auto;
    width: 80%;

    h1 {
        padding: 20px 0px;
        font-size: clamp(18px, 5vw, 32px);
    }
}

.reason {
    & div {
        display: flex;
        justify-content: space-between;

        & div {
            font-size: clamp(12px, 1rem, 18px);
            width: 24%;
            border: 2px solid rgba(255, 255, 255, 0.04);
            border-radius: 20px;
            padding: 20px;
            font-weight: bold;
            background-color: rgba(255, 255, 255, 0.1);
        }
    }
}

.faq {

    & div {

        & div {
            width: 100%;
            background-color: rgba(255, 255, 255, 0.1);
            border-radius: 20px;
            padding: 20px;
            margin: 5px;
            font-weight: bold;
            border: 2px solid rgba(255, 255, 255, 0.04);

            &.que {
                cursor: pointer;
                display: flex;
                align-items: center;

                & img {
                    margin-left: auto;
                    transition: 0.3s;
                }

                &:hover {
                    background-color: rgba(255, 255, 255, 0.3);
                }
            }

            &.ans {
                display: none;
                transition: 0.3s;
            }
        }
    }
}

.getstrted{
    display: flex;
    & button{
        margin: 30px auto;
    }
}

.footer{
    
    & a{
        text-decoration: underline;
    }

    & .help{
        margin: 0px 0px 50px;
    }

    & div{
        width: 60vw;
        margin: auto;

        & select{
            margin: 50px 0px;
        }
    }
}

.column{
    width: 60vw;
    columns: 4;

    & div{
        display: inline-block;
        width: fit-content;
        margin: 5px 0px ;
    }
}

@keyframes ani {
    0% {
        background-position: 0px 0px;
    }

    100% {
        background-position: -2000px 0px;
    }
}

@media screen and (max-width:959px) {
    .blogo {
        display: none;
    }

    .slogo {
        display: block;
    }

    .reason div {
        flex-wrap: wrap;

        & div {
            width: 100%;
            margin: 10px auto;
        }
    }
}

@media screen and (max-width:1279px) {
    .column{
        columns: 3;
    }
    .w80p{
        width: 90%;
    }
}

@media screen and (max-width:959px) {
    .column{
        columns: 2;
    }
}

@media screen and (max-width:599px) {
    .column{
        columns: 1;
    }
}

@media screen and (max-width:1450px) {
    .adtxt {
        width: 50%;
    }
}

@media screen and (max-width:655px) {
    .adtxt {
        width: 60%;
    }
}

@media screen and (max-width:440px) {
    .adtxt {
        width: 80%;
    }
}